@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Brak dostępu";
}

<hgroup>
    <h1 class="text-danger">Brak dostępu.</h1>
    <h2 class="text-danger">Twoje konto zostało tymczasowo zablokowane, prosimy skorzystać później.</h2>
</hgroup>
