@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>

<p style="text-align:justify">Portal stworzony z myślą o dzieciach, młodych talentach, poszukujących i rozszerzających swoje zainteresowania oraz chcących doskonalić się lub przełamywać swoje słabości. Każdy z nas ma przecież jakiś ukryty talent, a my tworzymy bazę, która skupia wszystkie zajęcia dla Państwa pociech w jednym miejscu. Może to właśnie z naszą pomocą znajdą Państwo dla swojego dziecka hobby, z którego będzie czerpać radość! Tutaj znaleźć można nie tylko zajęcia sportowe, ale także korepetycje czy zajęcia edukacyjno-terapeutyczne.</p>
<p style="text-align:justify">Szukasz zajęć, w których uczestnikiem są właśnie dzieci? To jest idealne miejsce!</p>