@{
    ViewBag.Title = "Polityka prywatności";
}
<h2>@ViewBag.Title</h2>

<p style="text-align: justify;">Serwis szanuje dane osobowe swoich użytkownik&oacute;w. Niniejsza polityka prywatności określa cel i spos&oacute;b gromadzenia, przetwarzania i ochrony danych osobowych użytkownik&oacute;w serwisu. Korzystanie z serwisu jest jednoznaczne z akceptacją polityki prywatności.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>ADMINISTRATOR DANYCH OSOBOWYCH</strong></p>
<p style="text-align: justify;">Administratorem danych osobowych jest firma Proclever Patryk Olejniczak.&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>DANE OSOBOWE</strong></p>
<p style="text-align: justify;">Usługodawca przetwarza dane osobowe przekazywane przez Firmy i Użytkownik&oacute;w za pomocą formularzy elektronicznych w spos&oacute;b zgodny z przepisami regulującymi przetwarzanie danych osobowych, stosując do przetwarzania danych osobowych przepisy prawa polskiego, w szczeg&oacute;lności ustawę z dnia 29 sierpnia 1997 r. o ochronie danych osobowych. Zbiory zgromadzonych danych osobowych Firm i Użytkownik&oacute;w podlegają właściwej ochronie, zgodnie z ww. przepisami. Dostęp do baz danych posiadają jedynie osoby upoważnione przez Usługodawcę.</p>
<ol>
    <li style="text-align: justify;">W momencie rejestracji Konta Firmy lub Użytkownika, Firma lub Użytkownik podaje swoje dane osobowe dobrowolnie, na własną odpowiedzialność, wyrażając zgodę na ich przetwarzanie. Wymagane są jedynie te dane, kt&oacute;re są niezbędne prawidłowego działania serwisu.</li>
    <li style="text-align: justify;">Serwis nie sprzedaje ani nie udostępnia danych osobowych Firm i Użytkownik&oacute;w innym podmiotom.</li>
    <li style="text-align: justify;">Dane osobowe podane przez Firmę lub Użytkownika podczas rejestracji i edycji konta są wykorzystywane w celach:</li>
</ol>
<ul>
    <li style="text-align: justify;">kontaktu z administratorem;</li>
    <li style="text-align: justify;">przesyłania niezapowiedzianych wiadomości: informacje systemowe (np. informacje o usunięciu konta lub ogłoszenia), informacje o zmianach w serwisie, informacje o promocjach i materiały niekomercyjne (np. życzenia świąteczne);</li>
    <li style="text-align: justify;">dokonywania analiz statystycznych;</li>
    <li style="text-align: justify;">wyświetlania w serwisie.</li>
</ul>
<ol start="4">
    <li style="text-align: justify;">Ujawnienie danych osobowych Firmy lub Użytkownika może nastąpić:</li>
</ol>
<ul>
    <li style="text-align: justify;">na mocy decyzji organu uprawnionego przepisami prawa,</li>
    <li style="text-align: justify;">w celu ochrony praw przysługujących serwisowi.</li>
</ul>
<p style="text-align: justify;">&emsp;</p>
<p style="text-align: justify;"><strong>KWESTIE TECHNICZNE</strong></p>
<ol>
    <li style="text-align: justify;">Serwis gromadzi informacje zawarte w logach systemowych (data i czas połączenia, adres IP i inne). Dane te wykorzystywane są w celach technicznych, statystycznych i marketingowych.</li>
    <li style="text-align: justify;">Serwis gromadzi dane wykorzystywane przez system statystyk Google Analytics (źr&oacute;dło wejścia na stronę, treści zapytań wpisywanych w wyszukiwarkach, przebieg nawigacji itp.) w celach statystycznych.</li>
    <li style="text-align: justify;">Serwis stosuje mechanizm "cookies". Cookies (ciasteczka) to niewielkie pliki tekstowe zapisywane przez serwer na komputerze użytkownika, wykorzystywane m.in. do zapamiętania danych niezbędnych do logowania w serwisie. Zawierają one unikalny identyfikator użytkownika, informacje na temat systemu operacyjnego, przeglądarki internetowej z jakiej korzysta użytkownik itp. Ciasteczka nie zawierają danych osobowych i nie umożliwiają identyfikacji osoby. Warunkiem działania cookies jest ich akceptacja przez przeglądarkę oraz nieusuwanie ich z dysku komputera.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>POSTANOWIENIA KOŃCOWE</strong></p>
<ol>
    <li style="text-align: justify;">Dostęp do bazy danych osobowych Firm i Użytkownik&oacute;w ma wyłącznie administrator serwisu.</li>
    <li style="text-align: justify;">Firma lub Użytkownik ma możliwość wglądu, edycji i usunięcia swoich danych osobowych poprzez dokonanie zmian po zalogowaniu się na swoje konto, lub też kontaktując się z administratorem serwisu.</li>
    <li style="text-align: justify;">Serwis zastrzega sobie prawo do zmiany powyższej polityki prywatności poprzez opublikowanie nowej wersji na stronie. Użytkownika obowiązuje aktualna polityka prywatności.</li>
    <li style="text-align: justify;">W razie dodatkowych pytań dotyczących ochrony prywatności, regulaminu lub korzystania z serwisu, należy skontaktować się poprzez adres email administratora lub skorzystać z formularza kontaktowego.</li>
</ol>