@{
    ViewBag.Title = "Regulamin";
}
<h2>@ViewBag.Title</h2>

<p style="text-align: justify;"><strong>DEFINICJE</strong></p>
<ol>
    <li style="text-align: justify;">Usługodawca - Proclever Patryk Olejniczak.</li>
    <li style="text-align: justify;">Serwis - portal internetowy prowadzony przez Usługodawcę pod adresem URL www.mlodetalenty.pl, do kt&oacute;rego uprawniony jest Usługodawca.</li>
    <li style="text-align: justify;">Administrator - osoba odpowiedzialna za zarządzanie Serwisem.</li>
    <li style="text-align: justify;">Użytkownik - każda osoba korzystająca z Serwisu.</li>
    <li style="text-align: justify;">Rejestracja - proces zakładania Konta.</li>
    <li style="text-align: justify;">Konto Użytkownika - wpis w bazie danych Serwisu, za pomocą kt&oacute;rego Użytkownik otrzymuje możliwość obserwowania oraz dodawania opinii do Ogłoszeń.</li>
    <li style="text-align: justify;">Firma - przedsiębiorca oferujący usługi w zakresie zajęć dla dzieci; organizator zajęć.</li>
    <li style="text-align: justify;">Konto Firmy - wpis w bazie danych Serwisu, za pomocą kt&oacute;rego Firma może dodawać ogłoszenia.</li>
    <li style="text-align: justify;">Login - nazwa ogłoszeniodawcy wybrana w trakcie rejestracji w Serwisie.</li>
    <li style="text-align: justify;">Ogłoszenie - oferta Firmy, dotycząca usług zajęć dla dzieci.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>POSTANOWIENIA OG&Oacute;LNE</strong></p>
<ol>
    <li style="text-align: justify;">Niniejszy regulamin określa zasady korzystania z Serwisu.</li>
    <li style="text-align: justify;">Administrator zastrzega sobie możliwość wystąpienia przerw technicznych w działaniu serwisu. W razie ich wystąpienia Administrator dołoży wszelkich starań, aby ich długość była możliwie najkr&oacute;tsza. Wszelkie informacje o błędnym działaniu serwisu będą rozpatrywane i niezwłocznie naprawiane, jeżeli potwierdzona zostanie ich zasadność.</li>
    <li style="text-align: justify;">Dane kontaktowe podawane przez Firmę mogą być wykorzystywane wyłącznie do czynności mających na celu uzyskanie dodatkowych informacji na temat usług lub ustalenie szczeg&oacute;ł&oacute;w rozpoczęcia wsp&oacute;łpracy. Wykorzystywanie danych kontaktowych Firmy do innych cel&oacute;w (np. do cel&oacute;w reklamowych) jest zabronione.</li>
    <li style="text-align: justify;">Kopiowanie lub rozpowszechnianie fragment&oacute;w bądź całych treści serwisu do cel&oacute;w innych niż dozwolonego użytku prywatnego jest zabronione.</li>
    <li style="text-align: justify;">Serwis służy wyłącznie dodawaniu Ogłoszeń związanych z zajęciami przeznaczonych dla os&oacute;b niepełnoletnich. Oznacza to całkowity zakaz informowania w treści ogłoszenia o innych usługach.</li>
    <li style="text-align: justify;">Ogłoszenia mogą dodawać firmy oferujące zajęcia dla os&oacute;b niepełnoletnich.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>REJESTRACJA W SERWISIE</strong></p>
<ol>
    <li style="text-align: justify;">Rejestracja w serwisie oznacza pełną akceptację i zobowiązanie się do przestrzegania niniejszego regulaminu.</li>
    <li style="text-align: justify;">Rejestracja w Serwisie jest nieodpłatna. Rejestracja Konta Użytkownika i Konta Firmy odbywa się za pomocą formularza elektronicznego dostępnego online.</li>
    <li style="text-align: justify;">W celu Rejestracji Użytkownika lub Firmy należy podać adres email oraz hasło.</li>
    <li style="text-align: justify;">Jeden Użytkownik może posiadać wyłącznie jedno konto. Nie jest dopuszczalnie udostępnienie Konta Użytkownika innym Użytkownikom lub Firmom, ani korzystanie z innych Kont Użytkownik&oacute;w lub Firm. Użytkownik powinien zachować swoje hasło do Konta Użytkownika w tajemnicy.</li>
    <li style="text-align: justify;">Jedna Firma może posiadać wyłącznie jedno konto. Nie jest dopuszczalnie udostępnienie Konta Firmy innym Firmom lub Użytkownikom, ani korzystanie z innych Kont Firm lub Użytkownik&oacute;w. Firma powinna zachować swoje hasło do Konta Firmy w tajemnicy.</li>
    <li style="text-align: justify;">W nazwie loginu Użytkownika nie mogą znajdować się wyrazy wulgarne, obraźliwe lub kojarzące się z przemocą. Konta Użytkownik&oacute;w o takiej nazwie loginu będą usuwane przez Administratora.</li>
    <li style="text-align: justify;">Login użytkownika jest widoczny w adresie jego profilu i wszystkich jego komentarzach i opiniach.</li>
    <li style="text-align: justify;">Login Firmy jest widoczny w jego Ogłoszeniach.</li>
    <li style="text-align: justify;">Wszelkie dane kontaktowe są podawane przez Firmę lub Użytkownika na jego odpowiedzialność.</li>
    <li style="text-align: justify;">Firma jest zobowiązana do uzupełnienia wymaganych informacji w dodawanych ogłoszeniach zgodnie z prawdą.</li>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do weryfikacji danych Firmy, jeśli zachodzi podejrzenie, że są one niezgodne z prawdą.</li>
    <li style="text-align: justify;">Usługodawca może skasować konto Firmy w przypadku gdy:</li>
    <li style="text-align: justify;">Firma zakłada wiele Kont Firm,</li>
    <li style="text-align: justify;">Firma dodaje fałszywe Ogłoszenia,</li>
    <li style="text-align: justify;">Firma dodaje Ogłoszenia z ofertami nie przeznaczonymi dla os&oacute;b niepełnoletnich,</li>
    <li style="text-align: justify;">Treści dodane przez Firmę zawierają treści wulgarne lub obraźliwe.</li>
    <li style="text-align: justify;">Firma wyraża zgodę na przesyłanie drogą mailową informacji systemowych, informacji o zmianach w Serwisie i jego regulaminie oraz innych wiadomości od Administratora.</li>
    <li style="text-align: justify;">Firma wyraża zgodę na przesyłanie drogą mailową materiał&oacute;w reklamowych i wykorzystywanie ich danych do cel&oacute;w statystycznych.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>DODAWANIE OGŁOSZEŃ</strong></p>
<ol>
    <li style="text-align: justify;">Pełną odpowiedzialności za treść zamieszczanych ogłoszeń ponosi Firma.</li>
    <li style="text-align: justify;">Ogłoszenie należy pisać zgodnie z zasadami języka polskiego, z użyciem polskich znak&oacute;w i bez nagminnego używania wielkich liter, gdy nie wymaga tego ich pisownia.</li>
    <li style="text-align: justify;">Ogłoszenie musi być zgodne z prawdą.</li>
    <li style="text-align: justify;">Ogłoszenie musi być związana z działalnością serwisu, czyli zajęć dla os&oacute;b niepełnoletnich.</li>
    <li style="text-align: justify;">Ogłoszenie należy dodać do odpowiedniej kategorii i podkategorii.</li>
    <li style="text-align: justify;">Ogłoszenie musi zawierać prawidłową, sprecyzowaną lokalizację w przypadku zajęć stacjonarnych.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>ZASADY PONOSZENIA ODPOWIEDZIALNOŚCI</strong></p>
<ol>
    <li style="text-align: justify;">Usługodawca nie odpowiada za jakiekolwiek ogłoszenia dodane przez Firmę, w szczeg&oacute;lności za kompletność, rzetelność, prawdziwość i przydatności informacji.</li>
    <li style="text-align: justify;">Usługodawca nie odpowiada za jakość usług świadczonych przez Firmę, w szczeg&oacute;lności za jakiekolwiek zdarzenia do kt&oacute;rych doszło podczas zajęć świadczonych przez Firmę, jak r&oacute;wnież za efekty usług świadczonych przez Firmę.</li>
    <li style="text-align: justify;">Usługodawca nie odpowiada za odbycie się zajęć lub innych usług świadczonych przez Firmę w terminach określonych przez Firmę w ogłoszeniu.</li>
    <li style="text-align: justify;">Usługodawca nie odpowiada za anulowanie zajęć przez Firmę.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>USUWANIE KONT I OGŁOSZEŃ, BLOKADA KONT</strong></p>
<ol>
    <li style="text-align: justify;">Administrator serwisu zastrzega sobie prawo do edycji i usuwania Kont oraz ogłoszeń na prośbę Firmy lub Użytkownika.</li>
    <li style="text-align: justify;">Edycja lub usunięcie ogłoszenia bądź konta możliwa jest na prośbę wysłaną z adresu mailowego powiązanego z kontem. Umożliwia to weryfikację osoby zgłaszającej prośbę i zapobiega usunięciu danych na prośbę nieupoważnionych do tego os&oacute;b. W przypadku braku dostępu do adresu email powiązanego z kontem w Serwisie, Administracja ma prawo do zastosowania innego sposobu weryfikacji.</li>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do edycji i usuwania kont oraz ogłoszeń niezgodnych z niniejszym regulaminem bądź łamiących polskie prawo. Usunięcie konta lub ogłoszenia wiąże się z otrzymaniem powiadomienia na adres email powiązany z kontem Firmy lub Użytkownika.</li>
    <li style="text-align: justify;">Konta Firm lub Użytkownik&oacute;w nagminnie łamiących regulamin mogą zostać zablokowane na stałe lub tymczasowo. Oznacza to brak możliwości zalogowania się na konto i brak możliwości samodzielnego dokonywania w nim jakichkolwiek zmian, jak r&oacute;wnież brak możliwości ponownej rejestracji. Zmiany na zablokowanym koncie są możliwe po uprzednim kontakcie z Administracją.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>DODAWANIE OPINII</strong></p>
<ol>
    <li style="text-align: justify;">Zarejestrowane Firmy wyrażają zgodę na wystawianie opinii ofertom zawartych w ich Ogłoszeniach.</li>
    <li style="text-align: justify;">Zarejestrowani Użytkownicy mogą dodawać opinie o ofercie zawartej w Ogłoszeniu.</li>
    <li style="text-align: justify;">Opinie mogą dodawać wyłącznie Użytkownicy, kt&oacute;rzy korzystali z zajęć w danej Firmie.</li>
    <li style="text-align: justify;">Użytkownik może dodać tylko jedną opinię do danego Ogłoszenia.</li>
    <li style="text-align: justify;">Użytkownik oświadcza, iż treść opinii jest zgodna z prawdą.</li>
    <li style="text-align: justify;">Użytkownik ponosi pełną odpowiedzialność za treść wystawianej opinii.</li>
    <li style="text-align: justify;">W treści opinii nie mogą znajdować się adresy bądź nazwy innych stron internetowych.</li>
    <li style="text-align: justify;">W treści opinii nie mogą znajdować się jakiekolwiek dane osobowe innych użytkownik&oacute;w.</li>
    <li style="text-align: justify;">W treści opinii nie mogą znajdować się treści wulgarne bądź obraźliwe.</li>
    <li style="text-align: justify;">W treści opinii nie mogą znajdować się dane o konkurencji wobec firmy.</li>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do weryfikacji treści, co do kt&oacute;rych zachodzi podejrzenie, że są niezgodne z prawdą lub są działaniem użytkownik&oacute;w konkurencyjnych bądź udostępniających dane Ogłoszenie.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>USUWANIE I BLOKADA OPINII</strong></p>
<ol>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do usuwania opinii, kt&oacute;re nie zostały dodane przez osoby korzystające z usług danej Firmy (np. dotyczą treści ogłoszenia lub są zapytaniem o ofertę), a także opinii, kt&oacute;rych treść jest niezgodna z polskim prawem lub zasadami dobrej kultury.</li>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do blokowania możliwości wyświetlania i dodawania opinii Firmom, na kontach kt&oacute;rych znajdują się opinie dodane z adresu IP Firmy lub z wykorzystaniem innych danych wskazujących na samodzielne działania Firmy.</li>
    <li style="text-align: justify;">Administracja serwisu zastrzega sobie prawo do usuwania lub blokady kont Firm lub Użytkownik&oacute;w działających na szkodę innych Firm lub Użytkownik&oacute;w (np. przez dodawanie negatywnych opinii FIrmom).</li>
    <li style="text-align: justify;">Administrator usunie opinie w przypadku nakazu wynikającego z wyroku sądowego.</li>
    <li style="text-align: justify;">Administrator może usunąć opinie w szczeg&oacute;lności, gdy jej treść jest niezgodna z regulaminem, narusza dobre imię os&oacute;b trzecich lub firm oraz w innych uzasadnionych przypadkach.</li>
    <li style="text-align: justify;">Administracja serwisu może tymczasowo dezaktywować opinię na czas jej weryfikacji. W przypadku braku weryfikacji opinii, pozostaje ona nieaktywna.</li>
    <li style="text-align: justify;">Firmy nie mają uprawnień do edytowania ani usuwania wybranych opinii.</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>POSTANOWIENIA KOŃCOWE</strong></p>
<ol>
    <li style="text-align: justify;">Niniejszy regulamin może ulec zmianom.</li>
    <li style="text-align: justify;">Za łamanie niniejszego regulaminu uważa się r&oacute;wnież pr&oacute;by jego obejścia.</li>
</ol>